body{
	font-family: 'Press Start 2P', cursive;
	display: flex;
	align-items: center;
	flex-direction: column;
	background:linear-gradient(to right, rgb(13, 185, 242), rgb(174, 82, 205));
}

h2	{
	color: #FDF2FE;
	font-size: 20px;
}
button{
	background-color: #FDF2FE;
}

.btn{
	font-size: 10px;
}

#donts{
	font-size: .5em;
}
