img {
	width: 30%;
	float: left;
	margin: 1.66%;
}

p{
	font-family: raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: 5px solid #f1f1f1;
	width:30% ;
	padding-bottom: 20px
}
img {
    transition: transform .2s; /* Animation */
}

img:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
