

body,html{
	width:100%;
	height: 100%;
}
body {
  display: flex;
  align-items: center;
	background-position: center;
    background-image: url("5.3 header.jpg");
    background-size: cover;
    height: 100%;
    font-family: Montserrat;
    font-size: 30px;
}
hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
   margin-top: 200px;
  margin-bottom: 30px;  
}
h1	{
	 color: rgba(255, 255, 255, 0.8); 
	 font-size: 3rem;
   color: white;
	 text-transform: uppercase;
}
p {
	color: white;
	text-align: center;
	text-transform: uppercase;
}


#button {
	font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
   padding: 1rem 2rem;
   background-color: #F05F44;
  border-color: #F05F44; }

#button:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}
#top{
	margin-top: 100px;
  }
